#container {
  position: relative;
  top: 100px;
  display: block;
  box-sizing: border-box;
  width: 500px;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
  padding: 15px;
  border: 1px solid black;
  overflow: hidden;
}

.scroller-field {
  position: absolute;
  display: block;
  width: 17px;
  border: 1px solid red;
}

.scroller-arrows {
  position: absolute;
  display: block;
  border: 1px solid black;
  background-color: black;
}

.scroller-slider {
  position: absolute;
  display: block;
  border: 10px solid orange;
  background-color: orange;
}